.title-section {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}
.btn-add {
  border-style: none;
  background: black;
  color: #fff;
  font-size: 14px;
  padding: 12px 24px;
  margin-bottom: 30px;
  cursor: pointer;
  border-radius: 4px;
}
.section-search {
  width: max-content;
  display: flex;
  align-items: center;
  background: #ececec;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 30px;
  border: 1px solid #ececec;
}
.section-search > input {
  width: 250px;
  padding: 10px 20px;
  border: 0px;
  background: transparent;
}
.section-search > ion-icon {
  width: 50px;
  padding: 10px;
  background: #000;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s;
}
.table-container {
  width: 100%;
  overflow-x: auto;
  padding: 20px 0px;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  background: #fff;
}
table {
  width: 100%;
  border-spacing: 0px;
  font-size: 14px;
}
tr th,
tr td {
  border-bottom: 1px solid #ececec;
  white-space: nowrap;
}
td > ion-icon {
  width: 30px;
  border-radius: 4px;
  padding: 10px 10px;
  cursor: pointer;
}
#edit-client {
  background: #ececec;
}
#remove-client {
  background: #d24444;
  color: #fff;
}
table tr:nth-child(1) {
  background: #fff !important;
}
/* table tbody tr:nth-child(2n + 1) {
  background: #ececec;
} */
table th,
table td {
  padding: 10px 15px;
  text-align: start;
}

/* Formulario del cliente */

.create-clients {
  width: 100%;
  padding: 40px 0px;
  margin-bottom: 30px;
}
.create-clients .form-add {
  width: 100%;
}
.create-clients .form-add .content-form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.create-clients .form-add .group-date {
  width: 100%;
  display: grid;
  gap: 20px;
}
.create-clients .form-add .group-date > span {
  display: block;
  font-size: 14px;
  font-weight: 700;
}
.create-clients .form-add .group-date > input {
  padding: 7px 20px;
  border-radius: 4px;
  border: 0px;
  font-size: 12px;
}
.actions-button {
  padding-top: 40px;
  display: flex;
  gap: 10px;
}
.actions-button > button {
  padding: 10px 24px;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}
.actions-button > .btn-add-create {
  background: #43a25a;
  color: #fff;
}
.actions-button > .btn-cancel-create {
  background: #ececec;
  color: #000;
}
.btn-add.hidden {
  display: none;
}
.create-clients.hidden {
  display: none;
}
