<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- icon window -->
    <link rel="icon" type="image/svg+xml" href="../../img/icon hotel.jpeg" />
    <!-- bootstrat -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/main.css" />
    <link rel="stylesheet" href="../../css/contacto.css" />
    <title>Contacto</title>
</head>

<body>
    <header class="nav-header">
        <div class="row-h">
            <div class="ident-logo">
                <a href="../../"><img src="../../img/logohotel.png" class="logo-item" alt="" /></a>
            </div>
            <nav class="menu-nav">
                <ul class="links-menu">
                    <li class="item-nav"><a href="../../">Inicio</a></li>
                    <li class="item-nav"><a href="../nosotros/">Nosotros</a></li>
                    <li class="item-nav"><a href="../gallery/">Galeria</a></li>
                    <li class="item-nav">
                        <a href="../habitaciones/">Habitaciones</a>
                    </li>
                    <li class="item-nav"><a href="../contacto">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="portada-home">
        <div class="swiper portada">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="content-portada">
                        <h1 class="ta-center">Ponte en contacto con nosotros</h1>
                        <p class="ta-center">
                            Preguntanos mediante correo electrónico o WhatsApp.
                        </p>
                        <a href="https://api.whatsapp.com/send?phone=51952990051&text=Hola%20vengo%20del%20sitio%20web%20Brindeme%20informaci%C3%B3n" target="_blank" class="btn-porta">
                            <ion-icon name="logo-whatsapp"></ion-icon> Chatea con nosotros</a>
                    </div>
                    <img src="../../img/desayuno.jpg" alt="" class="img-portada" />
                </div>
                <!-- <div class="swiper-slide">
                <div class="content-portada">
                  <h1 class="ta-center">Hotel Emperador Tacna</h1>
                  <p class="ta-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  <button class="btn-porta">Reservas</button>
                </div>
                <img
                  src="https://img.resemmedia.com/eyJidWNrZXQiOiJwcmQtbGlmdWxsY29ubmVjdC1iYWNrZW5kLWIyYi1pbWFnZXMiLCJrZXkiOiJwcm9wZXJ0aWVzL2ViOGZiNzBkLTQyMzItNDFmYi1iNDc5LWZmMTllM2JlNmY2Ny9lM2I3YzllOC00Y2UzLTQ4ZDUtODk2YS02MGRlNTQ1ZWJkODEuanBnIiwiYnJhbmQiOiJSRVNFTSIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6ODQwLCJoZWlnaHQiOjYzMCwiZml0IjoiY292ZXIifX19"
                  alt=""
                  class="img-portada"
                />
              </div> -->
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <!-- <div class="swiper-button-prev flechas-h"></div>
            <div class="swiper-button-next flechas-h"></div> -->

            <!-- If we need scrollbar -->
            <!-- <div class="swiper-scrollbar"></div> -->
        </div>
    </div>
    <div class="page-contact">

        <form id="form-contact" class="form-contacto">
            <p>Envianos un correo electronico</p>
            <div class="form-body">
                <div class="input-list grid-2-column">
                    <input id="user_name" name="user_name" placeholder="Nombres y Apellidos" type="text" class="item-input">
                    <input id="message" name="message" placeholder="Mensaje" type="text" class="item-input">
                </div>
                <div class="input-list grid-2-column">
                    <input id="user_email" name="user_email" placeholder="Correo" type="email" class="item-input">
                    <input id="user_telefono" name="user_telefono" placeholder="Telefono" type="text" class="item-input">
                </div>
                <!-- <div class="input-list">
          <input id="user_fecha" name="user_fecha"  placeholder="Fecha de visita" type="date" class="item-input">
        </div> -->
            </div>
            <div class="footer-form">
                <button type="submit" class="btn-form bg-primario">
            Quiero más información
          </button>
            </div>
            <div class="response-email"></div>
        </form>
    </div>
    <div class="page-contact">
        <div class="index-title-section mg-h">
            <span class="ta-center">Ubícanos en</span>
            <h1 class="ta-center"></h1>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3794.276377444835!2d-70.2513166844979!3d-18.012372886195728!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915acf64e5b80cc1%3A0xb637dbd5f2f3d6e!2sHotel%20Emperador!5e0!3m2!1ses-419!2spe!4v1676925002688!5m2!1ses-419!2spe"
            width="100%" height="650" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="section-page footer-crea">
        <div class="row row_qh">
            <div class="col-lg-4">
                <img class="logo-footer" src="../../img/logohotel.png" alt="" />
                <h3 class="info-contact">
                    Emperador es un Hotel con mucha tradición y experiencia en la atención de clientes, Considerados como unos de los mejores hoteles en Tacna.
                </h3>
            </div>
            <div class="col-lg-4">
                <h2 class="title-info mb-4">Explora</h2>
                <ul class="menu-footer">
                    <li>
                        <a href="#">Inicio</a>
                    </li>
                    <li>
                        <a href="view/nosotros"> Nosotros </a>
                    </li>
                    <li>
                        <a href="view/galeria"> Galeria </a>
                    </li>
                    <li>
                        <a href="view/habitaciones"> Habitaciones </a>
                    </li>
                    <li>
                        <a href="view/contacto"> Contacto</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h2 class="title-info mb-4">Contácto:</h2>
                <h3 class="info-contact">+51 952990051</h3>
                <h3 class="info-contact">reservas@hotelemperadortacna.com</h3>
                <h3 class="info-contact">Av. San Martín 558, Tacna</h3>
                <div class="redes-social">
                    <a target="_blank" href="https://www.facebook.com/hotelemperadortacna" class="box-social">
                        <ion-icon name="logo-facebook" role="img" class="md hydrated" aria-label="logo facebook"></ion-icon>
                    </a>
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=51952990051&amp;text=Hola%20vengo%20del%20sitio%20web%20Brindeme%20informaci%C3%B3n%20de%20la%20habitacion..." class="box-social">
                        <ion-icon name="logo-whatsapp" role="img" class="md hydrated" aria-label="logo whatsapp"></ion-icon>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/hotelemperadortacna/" class="box-social">
                        <ion-icon name="logo-instagram" role="img" class="md hydrated" aria-label="logo instagram"></ion-icon>
                    </a>
                </div>
            </div>
        </div>
        <div class="bar-bottom-footer col-lg-12">
            <p class="mb-0">2023 Hotel Emperador | Todos los derechos reservados</p>
        </div>
    </div>
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- ion icons js -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/contact.js"></script>
    <script>
        var stickyHeaderTop = $(".nav-header").offset().top;
        $(window).scroll(function() {
            if ($(window).scrollTop() > 20) {
                //$('#sticky').css({position: 'fixed', top: '0px', float: 'right'});
                $(".nav-header").addClass("sticky");
            } else {
                $(".nav-header").removeClass("sticky");
            }
        });
    </script>
</body>

</html>